@use "sass:math";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);
$margin-top-20: 20px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

.hide {
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

// mixins
@mixin wrapper() {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

@mixin translateOnHover() {
    transition: translate 0.2s;

    &:hover {
        translate: 0 -2px;
    }
}

// wrapper
.wrapper {
    @include wrapper();
    margin-top: 130px;
    margin-bottom: 60px;
}

// header
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    .menu-btn {
        z-index: 999;
        cursor: pointer;
    }

    nav {
        @include wrapper();
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        background-color: white;
        border-bottom: 1px solid $grayish-blue;
    }

    ul {
        display: flex;
        gap: 32px;
    }

    li a {
        display: block;
        color: black;
        text-decoration: none;

        @include translateOnHover();

        &:hover {
            color: $soft-red;
        }
    }
}

// main article
.main-article {
    margin-top: 12px;

    h2 {
        font-size: 2.6em;
        font-weight: 800;
    }

    p {
        font-size: 0.9em;
        line-height: 1.8;
        margin-top: 12px;
    }

    .read-more-btn {
        text-decoration: none;
        background-color: $soft-red;
        color: white;
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: inline-block;
        padding: 12px 24px;
        margin-top: 12px;
        position: relative;
        overflow: hidden;
        transition: background-color 0.2s;

        &::after {
            content: "";
            display: block;
            width: 60px;
            height: 100%;
            position: absolute;
            top: 0;
            left: -80px;
            transform: skew(-40deg);
            background-color: rgba(255, 255, 255, 0.2);
            filter: blur(6px);
            transition: left 0.4s;
        }

        &:hover {
            background-color: black;

            &::after {
                left: 160px;
            }
        }
    }
}

// new news section
.new-news-section {
    background-color: $very-dark-blue;
    padding: 24px;
    margin-top: $margin-top-20;

    .new-news-section__headline {
        color: $soft-orange;
        font-size: 1.8em;
    }

    .new-news-article {
        padding: 24px 0;
        border-bottom: 1px solid $dark-grayish-blue;

        &:last-child {
            padding-bottom: 0;
            border: 0;
        }
    }

    .new-news-article__title {
        display: block;
        color: white;
        font-size: 1.2em;
        font-weight: 700;
        text-decoration: none;

        @include translateOnHover();

        &:hover {
            color: $soft-orange;
        }
    }

    .new-news-article__content {
        color: $grayish-blue;
        font-size: 0.9em;
        line-height: 1.6;
        padding-right: 12px;
        margin-top: 12px;
    }
}

// top news section
.top-news-section {
    margin-top: $margin-top-20;

    .top-news-article {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        gap: 20px;
        margin-top: 20px;

        img {
            width: 100px;
            object-fit: cover;
        }

        .top-news-article__number {
            color: $grayish-blue;
            font-size: 2em;
        }

        .top-news-article__title {
            display: block;
            margin: 6px 0;
            text-decoration: none;
            color: black;
            font-size: 1.2em;
            font-weight: 800;

            @include translateOnHover();

            &:hover {
                color: $soft-red;
            }
        }

        .top-news-article__content {
            color: $dark-grayish-blue;
            font-size: 0.9em;
            line-height: 1.6;
        }
    }
}

@media (max-width: 991px) {
    header ul {
        position: absolute;
        top: 0;
        right: -100%;
        z-index: 101;
        width: clamp(220px, 70%, 300px);
        height: 100vh;

        background-color: white;

        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 120px;
        padding-left: 8%;
        transition: right 0.4s;

        &.active-menu {
            right: 0;
        }

        a {
            font-size: 1.1em;
        }
    }
}

@media (min-width: 992px) {
    .menu-btn {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
    }

    .main-article-img {
        grid-column: span 2;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .new-news-section {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        margin: 0;
    }

    .main-article {
        grid-column: span 2;
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 0;

        h2,
        div {
            flex: 1;
        }

        p {
            margin: 0;
        }
    }

    .top-news-section {
        grid-column: span 3;
        display: flex;
        gap: 20px;

        .top-news-article {
            flex: 1;
            margin: 0;
        }
    }
}
